{% extends "web_app/base.html" %}
  {% block content%}

  <div class = "container p-5 m-5">
    <div class="add_buttons">

      <div class="button-group">
        
        <a href="{% url 'display_Floor' %}" class="btn btn-primary btn-md btn-trim" role="button"> Floors</a>
        <a href="{% url 'add_Floor' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

        <a href="{% url 'display_Concrete' %}" class="btn btn-primary btn-md btn-trim" role="button"> Concrete</a>
        <a href="{% url 'add_Concrete' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>


        <a href="{% url 'display_Insulation' %}" class="btn btn-primary btn-md btn-trim" role="button"> Insulation</a>
        <a href="{% url 'add_Insulation' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

     

        <a href="{% url 'display_Electrical_wiring' %}" class="btn btn-primary btn-md btn-trim" role="button"> Electrical Wiring</a>
        <a href="{% url 'add_Electrical_wiring' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      

        <a href="{% url 'display_Cement' %}" class="btn btn-primary btn-md btn-trim" role="button"> Cement</a>
        <a href="{% url 'add_Cement' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

        <a href="{% url 'display_Plaster' %}" class="btn btn-primary btn-md btn-trim" role="button"> Plaster</a>
        <a href="{% url 'add_Plaster' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

        <a href="{% url 'display_Ceiling' %}" class="btn btn-primary btn-md btn-trim" role="button"> Ceiling</a>
        <a href="{% url 'add_Ceiling' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>


        <a href="{% url 'display_Paint' %}" class="btn btn-primary btn-md btn-trim" role="button"> Paint</a>
        <a href="{% url 'add_Paint' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

        <a href="{% url 'display_Fire_suppression_equip' %}" class="btn btn-primary btn-md btn-trim" role="button"> Fire Suppression Equipment</a>
        <a href="{% url 'add_Fire_suppression_equip' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

        <a href="{% url 'display_HVAC' %}" class="btn btn-primary btn-md btn-trim" role="button"> HVAC</a>
        <a href="{% url 'add_HVAC' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

        <a href="{% url 'display_Masonry' %}" class="btn btn-primary btn-md btn-trim" role="button"> Masonary</a>
        <a href="{% url 'add_Masonry' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

        <a href="{% url 'display_Plastic' %}" class="btn btn-primary btn-md btn-trim" role="button"> Plastic</a>
        <a href="{% url 'add_Plastic' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

        <a href="{% url 'display_Plumbing' %}" class="btn btn-primary btn-md btn-trim" role="button"> Plumbing</a>
        <a href="{% url 'add_Plumbing' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      </div>

    </div>
  </div>
    <br><br>
    <div class= "container">
      <div>

        <h4>Currently Viewing {{header}}</h4>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>Model</th>
            <th>Price</th>
            <th>Status</th>
            <th>Issues</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}

          <tr>
            <td>{{ item.pk }}
            <td>{{ item.type }}</td>
            <td>{{ item.price }} $</td>
            <td>{{ item.status }}</td>
            <td>{{ item.issues }}</td>
    
            {% if header == "Floor" %}
            <td>
                <a href="{% url 'edit_Floor' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_Floor' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            </td>
            {% elif header == "Concrete" %}
            <td>
                <a href="{% url 'edit_Concrete' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_Concrete' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            </td>
            {% elif header == "Insulation" %}
            <td>
                <a href="{% url 'edit_Insulation' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_Insulation' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            </td>
            {% elif header == "Electrical_wiring" %}
            <td>
                <a href="{% url 'edit_Electrical_wiring' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_Electrical_wiring' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            </td>
            {% elif header == "Cement" %}
            <td>
                <a href="{% url 'edit_Cement' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_Cement' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            </td>
            {% elif header == "Plaster" %}
            <td>
                <a href="{% url 'edit_Plaster' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_Plaster' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            </td>
            {% elif header == "Ceiling" %}
            <td>
                <a href="{% url 'edit_Ceiling' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_Ceiling' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            </td>
            {% elif header == "Paint" %}
            <td>
                <a href="{% url 'edit_Paint' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_Paint' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            </td>
            {% elif header == "Fire_suppression_equip" %}
            <td>
                <a href="{% url 'edit_Fire_suppression_equip' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_Fire_suppression_equip' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            </td>
            {% elif header == "HVAC" %}
            <td>
                <a href="{% url 'edit_HVAC' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_HVAC' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            </td>
            {% elif header == "Masonry" %}
            <td>
                <a href="{% url 'edit_Masonry' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_Masonry' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            </td>
            {% elif header == "Plastic" %}
            <td>
                <a href="{% url 'edit_Plastic' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_Plastic' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            </td>
            {% else %}
            <td>
                <a href="{% url 'edit_Plumbing' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                <a href="{% url 'delete_Plumbing' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
            </td>
            {% endif %}
    
          </tr>
    
          {% endfor %}
        </tbody>
      </table>
    </div>


{% endblock content %}